name: Publish Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: deploy
        run: |
          npm install uglify-js uglifycss -g
          uglifyjs www/js/utatap.js -o www/js/utatap.js
          uglifycss www/css/utatap.css > www/css/utatap.min.css
          rm www/css/utatap.css
          mv www/css/utatap.min.css www/css/utatap.css
          rm data/README.md
          ls -N1U data/vocal>data/vocal.txt
          ls -N1U data/music>data/music.txt
          cp -r data www
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./www
  
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
